html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  max-width: 800px;
  margin: auto;
  padding: 50px;
  font-family: "Lato", sans-serif;
  background-image: url("../images/20221125_093800.jpg");
  background-position: center;
}